html, body{height: 100%;}
body{width: 1200px; margin:0px; color: #232f3e; background-color: #FFEEDD}
header{line-height:68px;
   width: 100%;
   height: 68px;
   margin: 0px;
   text-align:center;
   color: #FFEEDD;
   background-color: #232f3e;
   border-bottom-color: #1B2532;
   border-bottom-width: 1px}
#leftside{width: 150px; min-height: 600px; height: 100%; float: left; margin: 0px; padding: 0px; background-color: #8D8B98}
#main{
  min-height:600px;
  margin-top:0px;
  margin-bottom:0px;
  margin-left: auto;
  margin-right: auto;
padding: 0px}
#rightside{width: 150px; min-height: 600px; height: 100%; float: right; margin: 0px; padding: 0px; background-color: #8D8B98}
footer{line-height:100px;
   width: 100%;
   height: 17.814%;
   min-height: 150px;
   margin: 0px;
   padding: 0px;
   text-align:center;
   color: #FFEEDD;
   background-color: #232f3e;
   border-top-color: #1B2532;
   border-top-width: 1px}
footer>hr{
  margin: 0px;
  border:0px;
  padding: 0px;
}
/*a:link a:visited a:hover a:active a:focus順序大事*/
